<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card" style="width: 1000px; height: 500px; margin-top: 40px">
    <div class="card-header d-flex justify-content-between">
      <h3>Student List</h3>
      <button
        class="btn btn-outline-secondary float-end"
        (click)="navigateToForm()"
      >
        ADD NEW
      </button>
    </div>
    <div class="card-content">
      <div class="table-responsive" style="max-height: 430px">
        <table class="table table-striped">
          <thead class="sticky-top bg-white">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Roll Number</th>
              <th>Class</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let student of studentService.studentList"
              class="my-selected-row"
            >
              <td (click)="onRowSelection(student)">{{ student.id }}</td>
              <td (click)="onRowSelection(student)">{{ student.name }}</td>
              <td (click)="onRowSelection(student)">
                {{ student.rollNumber }}
              </td>
              <td (click)="onRowSelection(student)">{{ student.class }}</td>
              <td>
                <button
                  (click)="onDelete(student)"
                  class="btn btn-outline-secondary"
                >
                  DEL
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
